.navbar{
    height:70px;
    width:100%;
    justify-content:space-between;
    display: flex;
    flex-direction:row;
    background-color:black;
}

.brand{
    margin-left:35px;
    display: flex;
    flex-direction:row;
    color:white;
}

.content-right{
    margin-right:20px;
    display: flex;
    flex-direction:row;
}

.nav-link{
    margin:auto;
    text-decoration: none !important;
    color:white !important;
}

.unselected{
    color: blue;
}