#valprop {
    color: #fff;
    padding: 0 0 80px 0;
    background-color: #f4f4f4;
    min-height: 350px;
    overflow: hidden;
    position: relative;
    transition: width 2s;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 80px;
    
}